* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrap {
    position: relative;
    width: 790px;
    height: 340px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 200px;
}
.list {
    display: block;
    list-style: none;
    overflow: hidden;
    height: 100%;
}
.item {
    position: absolute;
    display: none;
}
.item:first-child {
    display: block;
}
.left,.right {
    position: absolute;
    top: 50%;
    width: 30px;
    height: 60px;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,.6);
    z-index: 1;
    color: #fff;
    text-decoration: none;
    text-align: center;
    line-height: 60px;
}
.left{
    left: 0;
}
.right {
    right: 0;
}
.control {
    position: absolute;
    left: 50%;
    bottom: 10px;
    padding: 4px 8px;
    border-radius: 12px;
    transform: translateX(-50%);
    font-size: 0;
    background-color: hsla(0,0%,100%,.3);
}
.control i {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 12px;
    border-radius: 50%;
    background-color: #fff;
}
.control i:last-child {
    margin-right: 0;
}
#control .active {
    background-color: red;
}
