.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    background-color: #34bede;
    border-bottom: 1px solid #fff;
}

.header>.home {
    margin-left: 10px;
    width: 30px;
    height: 30px;
    background-image: url("image/矩形 5 拷贝 2.png");
    background-repeat: no-repeat;
    background-size: 30px;
}

.header>.icon {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    background-image: url("image/结果页_03.png");
    background-repeat: no-repeat;
    background-size: 30px;
}

.header>.title {
    font-size: 18px;
    color: #fff;
}

.main {
    background-color: #34bede;
}

.big-icon {
    width: 180px;
    height: 180px;
    margin: auto;
    background-image: url("image/结果页_07.png");
    background-repeat: no-repeat;
    background-size: 180px;
    background-position: center;
}

.desc {
    margin: 0px 40px;
    font-size: 18px;
    color: #fbc86c;
}

.peopel {
    margin-top: 25px;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 10px;
    color: #fff;
    font-size: 15px;
}

.peopel>ul {
    padding: 0;
    margin: 0;
}

.peopel ul>li {
    float: left;
    margin-right: 40px;
    list-style: none;
}

.box {
    padding: 0 45px;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
}

.date {
    margin: 5px 0px 10px 0;
}

.date>span:first-child {
    float: left;
    font-size: 18px;
}

.date>span:last-child {
    float: right;
    font-size: 14px;
    color: #ccc;
}

.box>p {
    color: #ccc;
    margin-bottom: 5px;
}

.footer {
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(146, 215, 230, 0.5);
    width: 100%;
    height: 70px;
    padding: 10px;
}

.footer-box1 {
    width: 150px;
    padding: 5px 0;
    border: 1px solid #f37072;
    border-radius: 8px;
    background-color: #f37072;
    font-size: 20px;
    color: #fff;
    text-align: center;
}

.footer-box2 {
    width: 150px;
    padding: 5px 0;
    border: 1px solid #f8b445;
    border-radius: 8px;
    background-color: #f8b445;
    font-size: 20px;
    color: #fff;
    text-align: center;
}
