$code-foreground                = #c7254e
$code-background                = #f9f2f4
$code-font-size                 = 16px
h1 {
  font-size: 34px !important;
}
@media (max-width: 767px) {
  h1 {
    font-size: 30px !important;
  }
}
h2 {
  font-size: 30px !important;
}
@media (max-width: 767px) {
  h2 {
    font-size: 28px !important;
  }
}
h3 {
  font-size: 22px !important;
}
@media (max-width: 767px) {
  h3 {
    font-size: 20px !important;
  }
}
h4 {
  font-size: 20px !important;
}
@media (max-width: 767px) {
  h4 {
    font-size: 18px !important;
  }
}