/*头部标题*/
#header {
	background-color: #5888e4;
}
#title {
	color: #fff;
}
a {
	-webkit-touch-callout: none;
}
a:hover {
	color: #000;
}
/*字体颜色*/
.icon-blue {
	color: #5888e4;
}
.icon-red {
	color: #ff6c3f;
}
.icon-green {
	color: #2aba6b;
}
.icon-white {
	color: #fff !important;
}
/*app主要背景色*/
.main-bgc {
	background-color: #5888e4;
}
.main-bgc:active {
	color: #FFFFFF;
}
.main-bgc:visited {
	color: #FFFFFF;
}
.main-red {
	background-color: #ff6c3f;
}
.main-red:active {
	color: #fff;
}
.main-red:visited {
	color: #fff;
}